doctype html
html
  head
    title portfolio
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/animate.min.css')
  body
   #header
    h3.post-logo.animated.fadeInUp Achraf Benomar
    br
    br
    h2.post.title.animated.fadeInUp Développeur Mobile 
     br
     |& Web
  #section
     h3.section-title Développeur frontend & backend
     .line-section
     .section-thumb
      img(src=("./img/avatar.jpg"))
    p.section-contenue Achraf benomar ,Développeur frontend, qui développer des sites vitrines sous  WordPress  (CMS Open-        |source) et des               dernières techniques web : HTML5/CSS3, jQuery, jQuery UI, responsive webdesign…
   #title ACHRAF BENAOMAR 2016
  #section2
    h1.title-section2 1
    h3.exp-title Ans d'expérience
    .line-section2
    p.aboutme-section2 Achraf Benomar,j'ai commencé le développement web et le web design pour développer un petit site perso
     |et c'est rapidement devenu une vraie vocation. J'aime expérimenter, découvrir et apprendre 
     |au fur et à mesure de mes projets pros et perso.
     br
    #mywork
      h2.title-work Les projets sélectionnés
      .border-works 
      h4.first-title Mobile
      p.sujet-work Sujet :Application mobile d’achat de coupon de réduction
    #backgrounds
      .img-thumb
        img(src=("./img/m.png"))
     .title-date
        |ACHRAF BENAOMAR 2016  
        
    #espace
    #send
      h2.msg-title Joignez-vous à ma liste de courrier électronique privé ou envoyez-moi un e-mail.
  #social
       ul
        li: a(href="#") Facebook
        li: a(href="#") Google+
        li: a(href="#") Linkedin   
  
        
        
        
        
        
        
        
        
       