body {
  font-family: 'Arimo';
  background-color: black;
  color: white;
  margin: 0px;
  padding: 0px;
}
#header {
  position: relative;
  margin: 0px;
  padding: 0px;
}
#header #content {
  padding-top: 45px;
}
#header .post-logo {
  font-size: 14px;
  margin: 0px;
}
#header .post-behind {
  font-size: 550px;
  margin: auto;
  text-align: center;
  opacity: 0.2;
  z-index: -100;
}
#header .title {
  font-size: 80px;
  margin: 0 auto;
  position: relative;
  top: -397px;
  left: -4px;
}
.container {
  width: 70%;
  margin: auto;
}
li a {
  list-style: none;
  text-decoration: line-through;
  font-weight: 600;
  color: white;
}
ul li {
  list-style: none;
  padding-top: 26px;
}
#social {
  margin-top: 80px;
}
.msg-title {
  text-align: center;
  margin: 0 auto;
}
p.sujet-works {
  width: 50%;
  margin: 0 auto;
  padding-left: 460px;
  line-height: 2em;
}
a.scrollup img {
  width: 7%;
  float: right;
  position: relative;
  left: 350px;
  top: -50px;
}
#espace {
  margin-top: 20%;
}
#backgrounds {
  padding-top: 550px;
}
#mywork {
  padding-top: 250px;
}
#mywork .title-work {
  font-size: 39px;
  font-family: 'Arimo';
}
#mywork .border-works {
  border: 1px solid white;
  width: 63px;
  margin-left: 360px;
}
#mywork .first-title {
  text-align: center;
  margin-left: 130px;
  margin-top: -15px;
  font-size: 23px;
}
#mywork #thumb {
  opacity: 0.2;
}
#mywork #mywork #thumb img {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
}
#mywork .sujet-work {
  margin-left: 416px;
  font-family: 'Arimo';
  text-align: center;
}
#mywork #thumb .thumbs {
  width: 25%;
  -webkit-animation-duration: 2s !important;
}
#mywork #thumb .thumb {
  width: 53%;
  padding-left: 25px;
  -webkit-animation-duration: 2s !important;
}
#mywork #thumb img {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
}
.aboutme-section2 {
  width: 70%;
  margin: -11px 0px 0px 250px;
  font-family: 'Arimo';
  line-height: 2;
}
.exp-title {
  margin: -199px 1px 1px 117px;
  font-size: 33px;
  font-family: 'Arimo';
  -webkit-animation-duration: 3s !important;
}
.title-section2 {
  font-size: 150px;
  font-family: 'Arimo';
  padding-top: 150px;
  -webkit-animation-duration: 2s !important;
}
#title {
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  font-family: 'Arimo';
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  width: 50%;
  font-weight: 5;
  margin: -11px 1px 1px -300px;
}
.title-date {
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  font-family: 'Arimo';
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  width: 50%;
  font-weight: 5;
  margin: -11px 1px 1px -405px;
}
#section2 {
  position: relative;
  margin: 0;
  padding: 0px;
}
p.section-contenue {
  font-family: 'Arimo';
  line-height: 2;
  -webkit-animation-duration: 4s !important;
  width: 45%;
  margin-left: 100px;
  margin-top: -15px;
}
.section-thumb img {
  float: right;
  margin-top: -156px;
  opacity: 0.2;
}
img {
  width: 40%;
  -webkit-animation-duration: 9s !important;
}
#thanks h1 {
  margin: 0 auto;
  float: right;
  font-size: 100px;
}
.section-title {
  font-size: 28px;
  font-family: 'Arimo';
  line-height: 5;
  margin-left: -1px;
  visibility: visible;
  -webkit-animation-duration: 2s !important;
}
.line-section {
  border: 1px solid white;
  width: 63px;
  -webkit-animation-duration: 2s !important;
}
.line-work {
  border: 1px solid white;
  width: 63px;
  margin-left: -13px;
}
#mywork .title-work {
  font-size: 39px;
  font-family: 'Arimo';
  margin-left: 5px;
}
.line-section2 {
  border: 1px solid white;
  width: 63px;
  margin: 72px 0px 0px 116px;
  -webkit-animation-duration: 2s !important;
}
#section {
  position: relative;
  margin: 0px;
  padding: 0px;
}
